
body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 104px; 
    box-sizing: border-box;
}

.footer-bm {
    padding: 2em 0 2em 0;
    position: absolute;
    bottom: 0;
    height: 104px;
    width: 100%;
    background-color: var(--light-dark);
    color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right {
    display: inline-flex;
    float: right;
    margin-right: 2.5em;
}

.left {
    display: inline-flex;
    float: left;
    margin-left: 7em;
}

.space-left {
    padding-left: .2em;
}