:root {
    --red: #D3345C;
    --white: #FFFFFF;
    --grey-light: #EFEFEF;
    --grey: #F2F2F2;
    --dark-grey: #606060; /* #676767; */
    --light-dark: #333333;
    --header-text-size: 1.5em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

body {
    margin: 0;
}

header {
    padding-bottom: 1em;
}
.navbar {
    background: var(--white);
    box-shadow: 0 4px 8px 0 grey;
    z-index -1;
}

.navbar > .container {
    display: flex;
    align-items: center;
}

a:link.logo, a:visited.logo {
    color: var(--dark-grey);
    margin-left: 1em;
}

.nav-link {
    color: var(--dark-grey);
    font-size: var(--header-text-size);
}

a:link.nav-link, a:visited.nav-link, a:link i, a:visited i {
    color: var(--dark-grey);
}

.navbar-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    float: right ;
}

.nav {
    list-style-type: none;
    display: flex;
}

.nav-item {
    display:flex;
    margin: .2em 1.3em .2em 1.3em;
    justify-content: center;
}

.nav-flex {
    margin: 0 auto;
    float: right;
}


.auto {
    margin: 0 auto;
}

.grow {
    flex-grow: 1;
    display: flex;
}

.header-text-size {
    font-size: var(--header-text-size);
}
.font-awesome {
    font-size: calc(var(--header-text-size) *2);
}

.form-control, .form-control[type=text] {
    background: var(--grey);
    font-size: calc( var(--header-text-size) *0.8);
    margin: 0 auto;
    border-radius: 1em;
    border: none;
    outline: none;
    padding-left: .6em;
    padding-right: .6em;
}

.dark-grey {
    color: #676767;
}

body > .container {
    margin: 0 auto;
    max-width: 66.66667rem;
}

.center {
    margin: 0 auto;
}

.right {
    display: inline-flex;
    float: right;
    margin-right: 2.5em;
}

.left {
    display: inline-flex;
    float: left;
    margin-left: 7em;
}

.space-left {
    padding-left: .2em;
}

footer {
    padding: 2em 0 2em 0;
    color: var(--grey);
    background-color: var(--light-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
