:root {
    --red: #D3345C;
    --white: #FFFFFF;
    --grey: #F2F2F2;
    --grey-light: #DDDDDD;
    --grey-dark: #606060; /* #676767; */
    --light-dark: #333333;
    --header-text-size: 1.2em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
    padding-bottom: 1em;
}

.navbar {
    background: var(--white);
    box-shadow: 0 2px 8px 0 var(--grey-dark);
    z-index: 1;
}

.navbar > .container {
    display: flex;
}

a:link.logo, a:visited.logo, a:hover.logo {
    color: var(--grey-dark);
    float: left;
    margin-left: 1em;
    text-decoration: none;
}

.dropmenuList {
    list-style-type: none;
    display: flex;
    margin: 0 auto;
}

.dropmenuItem {
    justify-content: center;
}

.nav-link {
    color: var(--grey-dark);
    font-size: var(--header-text-size);
    position: relative;
    margin: 1px;
}

.nav-link:hover{
    color: var(--red);
}

.nav-link::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--red);
    transition: width 0.25s ease-out;
}

.nav-link:hover::before{
    width: 100%;
}

.nav-item {
    display: flex;
    margin: .2em 1.3em .2em 1.3em;
    justify-content: center;
}

.nav {
    display: flex;
}

.dark-grey, .dark-grey i {
    color: var(--grey-dark);
}

.searchBar, .searchBar[type=text] {
    background: var(--grey);
    font-size: calc( var(--header-text-size) *0.8);
    margin: 0 auto;
    height: 2em;
    border-radius: 1em;
    border: none;
    outline: none;
    padding-left: 1em;
    padding-right: 1em;
}

.header-text-size {
    font-size: var(--header-text-size);
}

.font-awesome {
    font-size: calc(var(--header-text-size) * 1.5);
}
